<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="preLoadedAssemblies" type="PTS.Workshop.PreLoadedAssembliesSettings, PTS.Workshop"/>-->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="WMS.Startup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="PTS.Startup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <!--<preLoadedAssemblies>
    <add assemblyName="PTS.Workshop.DLL"></add>
  </preLoadedAssemblies>-->
  <connectionStrings>
    <clear />
    <!--<add name="BSMT" connectionString="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST =localhost)(PORT = 1521))(CONNECT_DATA = (SERVER=dedicated)(SID=IMS)));User Id=BSMT;Password=BSMT;"
        providerName="Oracle.ManagedDataAccess.Client" />-->

    <!--<add name="BSMT" connectionString="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST =10.13.36.115)(PORT = 1521))(CONNECT_DATA = (SERVER=dedicated)(SID=ORCL)));User Id=BSMT;Password=BWIMS;"
    providerName="Oracle.ManagedDataAccess.Client" />-->
    <add name="BSMT" connectionString="Data Source=(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST =192.168.10.121)(PORT = 1521))(CONNECT_DATA = (SERVER=dedicated)(SID=ORCL)));User Id=BSMT;Password=BWIMS;"
    providerName="Oracle.ManagedDataAccess.Client" />
    <!--<add name="TKANBAN" connectionString="Data Source=MSLMFS06253\SQLEXPRESS;Initial Catalog=TKANBAN;User Id=sa;Password=!QAZ2wsx;Connection Timeout=60" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-         com:asm.v1" appliesTo="v2.0.50318">
      <dependentAssembly xmlns="urn:schemas-microsoft- com:asm.v1">
        <assemblyIdentity name="EnvDTE" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="7.0.3300.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <Test.Properties.Settings>
      <setting name="FLEXSA_ID" serializeAs="String">
        <value>6E4F22B228FE9F21</value>
      </setting>
      <setting name="ITF_FLAG" serializeAs="String">
        <value>A</value>
      </setting>
      <setting name="LINE_NAME" serializeAs="String">
        <value>零缺陷样板线</value>
      </setting>
      <setting name="DATA_TYPE" serializeAs="String">
        <value>CCD</value>
      </setting>
      <setting name="MACHINE_NAME" serializeAs="String">
        <value>外观检测</value>
      </setting>
    </Test.Properties.Settings>
    <WMS.Startup.Properties.Settings>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="SkinName" serializeAs="String">
        <value>McSkin</value>
      </setting>
      <setting name="Culture" serializeAs="String">
        <value>zh-Hans</value>
      </setting>
      <setting name="SystemName" serializeAs="String">
        <value>智能物料管理系統(IMS)</value>
      </setting>
    </WMS.Startup.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.86.16.156)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
